
.body {
	background-color: white
	color:#232424;
	font-family: Century Gothic;
}
.slideshow{
	
	margin: 20px;
}

.slideshow img {

    
    width: 100%;
	max-width: 800px;
    max-height: 400px;
}
h1{
	color: #232424;
	background-color: #c4e0d1;
	border: none;
	font-family: Century Gothic;
	text-align: center;
	font-size: 40px;
}
footer{
	text-align: center;
}
button{
	color: #232424;
	background-color: #c4e0d1;
	border: none;
	width: 400px;
	height: 40px;
	margin: 20px;
}
.paragraph{
	
	background-color: #c4e0d1;
	color: #232424;
	font-family: Century Gothic;
	text-align: center;

	
}
.pastries img{
	width:20%;
	height: 25%;
}