
.slideshow{
	
	margin: 20px;
}

.slideshow img {

    
    width: 100%;
	max-width: 800px;
    max-height: 400px;
}
h1{
	color: pink;
	text-align: center;
	font-family: arial;
	font-size: 50px;
}
footer{
	text-align: center;
}
button{
	color: white;
	background-color: pink;
	border: none;
	width: 400px;
	height: 40px;
	margin: 20px;
}
.paragraph{
	
	background-color: #c4e0d1;
	color: #232424;
	font-family: Century Gothic;
	text-align: center;

	
}
.pastries img{
	width:22%;
	height: 25%;
	margin: 15px;

}
.dessert img{
	width:22%;
	height: 25%;
	margin: 15px;
}
.offers img{
	width:30%;
	height: 25%;
	margin: 15px;
}
.Addtocart button{
	width:22%;
	
	margin: 15px;
}
.label label{

	
margin: 80px;
}